.brand-m-Footer *,
.brand-m-Footer *::before,
.brand-m-Footer *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: inherit;
  font-family: helvetica, arial, meiryo, sans-serif;
  letter-spacing: 0;
  text-decoration: none;
}

.brand-m-Footer {
  background: #fff;
  color: var(--color-text);
}

.brand-m-Footer_inner {
  max-width: calc(var(--width-contents-max-size-modal-nav) + var(--width-contents-padding) * 2);
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--width-contents-padding);
  padding-right: var(--width-contents-padding);
  padding-top: 10px;
  padding-bottom: 20px;
}

.brand-m-Footer_copyright {
  font-size: calc(12 / var(--font-size-root) * 1rem);
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .brand-m-Footer_copyright {
    text-align: center;
  }
}
